.header--header {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: var(--primary-color);
  width: 100%;
}

.header--div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header--h1 {
  color: var(--secondary-color);
}

.header--search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header--search-container button {
  margin-top: 0.5rem;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

.header--search-container input {
  padding: 0.25rem;
}

.header--link-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.header--link {
  color: black;
  font-weight: bold;
}
